.bodyDecorLine {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 2%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
