<footer class="footerContainer">
    <div class="footerCol1 footerLogo">
        <a class="footerLogo__a" href="index.html">
            RT-WMIS<span class="footerLogo__subtitle">Project</span>
        </a>
    </div>

    <div class="footerCol2 footerInfo">
        <h2 class="footerInfo__h2">Links</h2>
        <a
            class="footerInfo__a"
            href="https://gage.upc.edu/en"
            target="_blank"
            rel="noopener"
            >gAGE UPC</a
        >
        <a
            class="footerInfo__a"
            href="https://gage.upc.edu/en"
            target="_blank"
            rel="noopener"
            >IONO4HAS</a
        >
    </div>

    <div class="footerCol3 footerInfo">
        <h2 class="footerInfo__h2">Contact</h2>
        <ul class="footerInfo__ul">
            <li class="footerInfo__li">Email address</li>
            <li class="footerInfo__li">Street address</li>
            <li class="footerInfo__li">Phone number</li>
        </ul>
    </div>

    <div class="footerCol4 footerInfo">
        <nav class="footerNav" aria-label="Main Navigation">
            <h2 class="footerNav__h2">Our Project</h2>
            <ul class="footerNav__ul">
                <li class="footerNav__li">
                    <a class="footerNav__a" href="index.html">Home</a>
                </li>
                <li class="footerNav__li">
                    <a class="footerNav__a" href="network.html">Network</a>
                </li>
                <li class="footerNav__li">
                    <a class="footerNav__a" href="methodology.html"
                        >Methodology</a
                    >
                </li>
                <li class="footerNav__li">
                    <a class="footerNav__a" href="monitoring.html"
                        >Monitoring</a
                    >
                </li>
                <li class="footerNav__li">
                    <a class="footerNav__a" href="data_products.html"
                        >Data Products</a
                    >
                </li>
            </ul>
        </nav>
    </div>

    <div class="footerCol5 footerInfo">
        <h2 class="footerInfo__h2">More about us</h2>
        <ul class="footerInfo__ul">
            <li class="footerInfo__li">Data products</li>
            <li class="footerInfo__li">Publications</li>
        </ul>
    </div>

    <div class="footerDecorLine"></div>
    <!-- Border bottom -->

    <div class="footerCol31 footerAuthor">
        <p class="footerAuthor__p">
            &copy; Built by Nicolas Orlando Moncada Herrera
        </p>
    </div>

    <div class="footerCol36 footerPolicy">
        <p class="footerPolicy__p">Policy</p>
    </div>

    <div class="footerBackgroundImage"></div>
</footer>
