<header class="headerContainer">
    <div class="headerLogo">
        <a class="headerLogo__a" href="index.html">
            RT-WMIS<span class="headerLogo__subtitle">Project</span>
        </a>
        <div class="headerDecorLine"></div>
    </div>

    <nav class="headerNav" aria-label="Main Navigation">
        <!--aria label for accesibility-->
        <ul class="headerNav__ul">
            <li class="headerNav__li">
                <a href="index.html" class="headerNav__a">HOME</a>
            </li>
            <li class="headerNav__li">
                <a href="network.html" class="headerNav__a">NETWORK</a>
            </li>
            <li class="headerNav__li">
                <a href="methodology.html" class="headerNav__a">METHODOLOGY</a>
            </li>
            <li class="headerNav__li">
                <a href="monitoring.html" class="headerNav__a">MONITORING</a>
            </li>
            <li class="headerNav__li">
                <a href="data_products.html" class="headerNav__a"
                    >DATA PRODUCTS</a
                >
            </li>
            <li class="headerNav__li">
                <a href="publications.html" class="headerNav__a"
                    >PUBLICATIONS</a
                >
            </li>
            <div class="headerDecorLine__long"></div>
        </ul>
    </nav>
    <div class="headerDecorLine__short"></div>
    <div class="headerDecorLine__cross">
        <div class="headerDecorLine__cross__grid2"></div>
    </div>
</header>
